# R Project files
*.Rproj
*.Rproj.user

# R history and session data
*.Rhistory
*.RData

# Cache and temporary files
*.Rapp.history
*.Ruserdata


# macOS system files
*.DS_Store

# Cache or logs
*.log
*.out
*.tmp

# Compiled code
*.o
*.so
*.dll
