# R Project files
*.Rproj
*.Rproj.user

# R history and session data
*.Rhistory
*.RData

# macOS system files
.DS_Store

# RStudio project files
CPSM.Rproj

# Cache and temporary files
.Rapp.history
.Ruserdata

