exportPattern("^[[:alpha:]]+")


import(SummarizedExperiment)
import(SurvMetrics)
import(pec)
import(Rcpp)
import(reshape2)
import(survminer)
import(ggplot2)
import(MTLR)
import(ggfortify)
import(rms)
import(preprocessCore)
import(survivalROC)
import(ROCR)
import(Matrix)
import(svglite)
importFrom(stats, coef)
importFrom(utils, write.table)
importFrom("grDevices", "dev.off", "gray", "jpeg", "svg")
importFrom("stats", "as.formula", "na.omit", "predict")
importFrom("utils", "read.table")
importFrom(MASS, select)
importFrom(MASS, lda)
importFrom(survival, cluster)
importFrom(pec, R2)
importFrom(dplyr, summarize)
importFrom(Hmisc, src)
importFrom(dplyr, summarize)
importFrom(survival, survfit, coxph)


